.footer { 
  padding: 0!important;
  color: #fff;
  background-color: #132043;
}
.redes{
  text-align: end;
}
.row1 {
  height: 70px;
}
.subscribe {  
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#emailHelp {
  color: #f2f2f2;
}

.subscribe .input-error {
  border-color: #fc3e3e;
}
.link__footer {
  cursor: pointer;
}
.copyright{  
  background-color: #202020;
}
@media (max-width: 1024px) {
  .footer .container .row, #footer__contendor .footer__contendor__column{    
    justify-content: center;
    align-items: center;
    text-align: center!important;
    flex-direction: column;
  }
  #footer__contendor{
    display: none;
  }
  #emailSubscriber{
    width: 25rem;
  }
  .subscribe{
    display: flex;
    justify-content: center;    
  }
  .redes{
    text-align: center;
  }  
}