.header__nav1 {
  background-color: #202020;
}
.header__nav2 {
  background-color: #132043;
}
.header__nav3 {
  background-color: rgb(233, 233, 233);
  color: #202020;
}

.nav1__link {
  font-family: "Roboto", sans-serif, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  color: #ffffff;
}
.nav2__logo {
  font-family: "Roboto", sans-serif, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #ffffff;
}
.miCuenta__link {
  font-family: "Roboto", sans-serif, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #ffffff;
}
.nav3__link {
  font-family: "Roboto", sans-serif, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  color: #202020;
}

.input-wrapper > input::placeholder {
  font-family: "Roboto", sans-serif, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #999999;
}

.header__search {
  display: flex;
  /* align-items: center;*/
  justify-content: center;
  margin-bottom: 30px;
}
.header__search .search-bar-container {
  position: absolute;
  z-index: 5;
  width: 25%;
}

.dropdown-menu {
  width: 150px;
  height: auto;
}

a.dropdown-toggle {
  font-weight: 500;
  color: #202020;
}

a.dropdown-toggle:link {
  color: #202020;
}

.categoryList {
  color: #202020;
  background-color: #ffffff;
}
.container-cart-icon{
	display: flex;
	align-items: center;	
	text-align: center;
	color: #ffffff;	
}
.container-icon {
	position: relative;
}
.count-products {
	position: absolute;
	top: 55%;
	right: 0;
	background-color: #202020;
	color: #ffffff;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}
.input-wrapper input{
	margin-left: .5rem;
}

@media (max-width: 870px) {
  .header {
    display: none;
    background-color: red;
  }
  .header__nav1 {
	  background-color: green;
	  display: none;
	}
	.header__nav2{
		display: flex!important;
		flex-direction: column;
	}
}
