.container__nav1 {
  background-color: rgb(59, 59, 59);
}

.nav1__link {
  color: antiquewhite;
}
.nav1__link:hover {
  color: rgb(255, 255, 255);
}

.container__nav2 {
  background-color: rgb(116, 116, 116);
}

.nav2__logo {
  color: antiquewhite;
}
.nav2__logo:hover {
  color: rgb(230, 230, 230);
}

.header__search {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 30px;
}
.header__search .search-bar-container {
  position: absolute;
  z-index: 5;
  width: 25%;
}

.miCuenta__link {
  color: antiquewhite;
}
.miCuenta__link:hover {
  color: rgb(255, 255, 255);
}

.container__nav3 {
  background-color: rgb(100, 100, 100);
}

.nav3__link {
  color: antiquewhite;
}
.nav3__link:hover {
  color: rgb(255, 255, 255);
}

a.dropdown-toggle:link {
  margin: 0 10px 0 10px;
  padding: 0;
  color: antiquewhite;
}
a.dropdown-toggle:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 870px) {
  .header {
    display: none;
    background-color: red;
  }
  .container__nav1 {
    background-color: green;
  }
}
