.title {
  font-size: 1.8rem;
  /* color: #0505d9; */
  margin-top: 2rem;
}

.form-container {
  padding: 1rem;
  border-radius: 10px;
  /*color: #0505d9;*/
}

/* Estilos para la fila de los campos de nombre y apellido */
.name-row {
  display: flex;
  justify-content: flex-start;
}

/* Estilos para el campo de DNI */
.dni-input {
  height: 5vh;
  margin: 0 0 5px 0;
}

/* Estilos para las etiquetas */
.label-style {
  /*color: #0505d9;*/
  margin: 10px 0 0 5px;
}

.dni-input ~ .label-style {
  margin-top: 15px;
}

.name-input::placeholder,
.dni-input::placeholder {
  font-size: 12px;
}

/* Estilos para el botón al pasar el mouse */
.button:hover {
  background-color: #0505d9;
  color: #ffffff;
}
